body {
    background: #ededed;
    font-family: 'Roboto', sans-serif;
}
.alive {
    background: #00cc00;
}
.dead {
    background: darkred;
}
.ww {
    background: aqua;
}
.unknown {
    background: darkgray;
}
td {
    background: white;
}
.content {
    width: 50%;
    background: #cbcab6;
    border: 1px solid black;
}
@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }
}